body {
  display: flex;
  justify-content: center;
}

.todoItem {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.todoList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 500px;
  padding-top: 3rem;
}
